.product-identifier--productReference {
  margin-bottom: 1rem;
}

.product-identifier__value {
  font-size: 15px !important;
}

.product-identifier__label,
.product-identifier__separator {
  display: none;
}